* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --offWhite: #FFFFFF80;
    --brown: #CF9024;
    --green: #028000;
    --lightGreen: #4DFC4B;
    --ash1: #707070;
    --ash2: #DFDFDF;
    --black: #000000;
    --black1: #090909;
    --black2: #171717;
    --skyBlueLike: #D4E1E1;
    --darkRed: #570B00;
    --spiceColor: #D6D0D0;
    --defaultPadding: 1% 10%;
    --mainFontFamily: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

/* =============== universal styles ================ */
.green {
    color: var(--green);
}

.black {
    color: var(--black);
}

.brown {
    color: var(--brown);
}

.white {
    color: var(--white);
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/* =============== universal styles end ================ */

/* =============== header section style ================ */

header {
    width: 100%;
    height: 70px;
    background-color: var(--white);
    position: fixed;
    top: 0;
    z-index: 80;
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--defaultPadding);
    font-family: var(--mainFontFamily);
}

.navList {
    list-style: none;
}

.listItems {
    display: inline;
    margin-right: 15px;
}

.navLinks {
    text-decoration: none;
    color: var(--black1);
    font-size: 1.1rem;
}

.donateBtn {
    border: 0;
    outline: none;
    background-color: var(--brown);
    color: var(--white);
    padding: .65rem 3rem;
    font-size: 1.1rem;
    cursor: pointer;
}

/* ================== header section ends ================= */


/* ================== intro section start ================= */
.intro {
    width: 100%;
    height: calc(100vh - 70px);
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 0%;
    display: flex;
    align-items: center;
    padding: var(--defaultPadding);
}

.box1,
.box2 {
    flex: 1;
}

.box1 h1 {
    color: var(--offWhite);
    font-family: 'playfair display', verdana;
    font-size: 2.3rem;
    margin-bottom: 5%;
    line-height: 1.2;
    text-shadow: 1px 2px 10px var(--ash1);
}

.box1 p {
    width: 80%;
    color: var(--ash1);
    font-size: 1.2rem;
}

.dBlock {
    display: block;
}

/* ============ intro end ================= */

/* ============ lazarus project cards ================= */
.cardContainer {
    width: 100%;
    margin-top: -6rem;
    padding: var(--defaultPadding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 15px;
}

.cardContainer .cards {
    background-color: var(--skyBlueLike);
    position: relative;
}

.card1,
.card2,
.card3 {
    width: 100%;
    height: 80%;
}

.card1 {
    background-color: var(--brown);
}

.card2 {
    background-color: var(--green);
}

.card3 {
    background-color: var(--lightGreen);
}

.lazTitle {
    text-align: center;
    color: var(--green);
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}

/* ============ lazarus cards ends ================= */


/* ============ video section ================= */
.videoSection {
    width: 100%;
    padding: var(--defaultPadding);
    margin: 8% auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .contentTitle {
    color: var(--brown);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 3.38px;
}

.content h1 {
    color: var(--green);
    font-weight: 800;
    font-size: 2rem;
    line-height: 1;
    margin: 3% 0;
}

.content .firstContentPara {
    width: 80%;
}

.contentSecond {
    display: flex;
}

.contentSecond .roundBox {
    width: 2rem;
    height: 2rem;
    background-color: var(--brown);
    border-radius: 100%;
}

.paddingRight {
    padding-right: 4%;
}

.projL {
    margin: 7% 0 8%;
    color: var(--green);
    font-size: 16px;
}

.video {
    width: 100%;
}

.video .videoImage {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

/* ============ video section ends ================= */


/* ============ volunteer section ================= */
.volunteerSection {
    background-image: url(./img/greenbg.jpg);
    padding: var(--defaultPadding);
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.volunteerSection::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--green);
    opacity: 0.7;
}

.vol-contents {
    z-index: 5;
}

.be-vol {
    padding-top: 5%;
    font-size: 2.7rem;
    color: var(--brown);
    text-align: center;
}

.vol-p {
    color: var(--white);
    font-size: 0.8rem;
    margin: 3% 0 7%;
    text-align: center;
}

.vol-input {
    width: 600px;
    display: block;
    padding: 10px 10px;
    outline: none;
}

.btn-wrapper {
    padding-top: 8%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: fit-content;
    border: 0;
    color: var(--white);
    background: var(--brown);
    padding: 1rem 4rem;
    cursor: pointer;
}

/* ============ volunteer section end ================= */

/* ============ performance section ================= */
.performanceSection {
    width: 100%;
    height: 50rem;
    padding: 10rem;
    background-color: var(--white);
    display: flex;
}

.performLeft {
    flex: 1;
}

.performLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.performRight {
    flex: 1;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.performRight h3 {
    padding: 3% 0;
    font-size: 2rem;
}

.container {
    position: relative;
    max-width: 500px;
    width: 100%;
}

.skill-box {
    width: 100%;
    margin: 25px 0;
}

.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--green);
}

.skill-box .skill-bar {
    width: 100%;
    height: 8px;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 98%;
    border-radius: 6px;
    background: var(--brown);
    animation: progress 0.4s ease-in-out forwards;
    /* opacity: 0; */
}

.skill-per.education {
    width: 80%;
}

.skill-per.employment {
    width: 60%;
}

.skill-per.health {
    width: 90%;
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    padding: 2px 6px;
    z-index: 1;
}

/* ============ performance section ends ================= */


/* ============ quick donation section ================= */
.quick__donation {
    width: 100%;
    height: 20rem;
    background: url(./img/iboro4.jpg);
    background-position: right 40% top 10%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.quick__donation::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brown);
    opacity: 0.8;
    z-index: 1;

}

.donation__container {
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    padding: 2.2% 10%;
    height: 4rem;
    align-items: center;
}

.donation__container h3 {
    color: var(--white);
    font-weight: 600;
    font-size: 1.6rem;
}

.donation__container button {
    border: 1px solid var(--brown);
    width: fit-content;
    padding: .6rem 2rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--brown);
    font-weight: 600;
    font-size: 1.2rem;

}

.donation__container button.quick_donate_btn {
    background-color: var(--brown);
    color: var(--white);
    font-weight: 400;
    font-size: .8rem;
    margin-left: 1rem;
    padding: .8rem 2.8rem;
}

/* ============ quick donation end ================= */

/* ============ latest article section ================= */
.articles {
    background-color: var(--white);
    width: 100%;
    height: 30rem;
    padding: 10% 10% 50% 10%;
}

.articles_title {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    font-weight: 700;
}

.art_para {
    text-align: center;
    padding-bottom: 5%;
}

.article_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .7rem;
}

.article .imgBox {
    width: 100%;
    height: 12rem;
    background-color: var(--brown);
}

.article_contents {
    border: 1px solid var(--ash1);
    border-top: none;
    padding: 0 3% 4%;
}

.article_contents h4 {
    color: var(--green);
    padding-top: 3%;
    font-weight: 600;
    font-size: 1.3rem;
}

.article_contents p {
    font-size: .9rem;
    line-height: 1.5;
    padding: 5% 0;
}

.article_contents a {
    text-decoration: none;
    color: var(--brown);
}

/* ============ latest article end ================= */


/* ============ message from Iboro section ================= */
.message {
    width: 100%;
    height: 30rem;
    display: flex;
}

.message_image {
    flex: 1;
    background-color: rgba(184, 173, 78, 0.753);
}

.message_content {
    flex: 1;
    background-color: var(--green);
}

/* ============ message from Iboro ends ================= */


/* ============ empty section ================= */
.empty {
    width: 100%;
    height: 30rem;
}

/* ============ empty section ends ================= */


/* ============ footer section ================= */
footer {
    background-color: var(--green);
    width: 100vw;
    height: auto;
    padding: 5% 10%;
    display: flex;
    gap: 5rem;
    color: var(--offWhite);
}

.iboro {
    flex: 2;
}

.help_link,
.address,
.legal {
    flex: 1;
}

.footer_headings {
    color: var(--white);
    padding-bottom: 15%;
    font-size: 1.4rem;
    font-weight: 600;
}

.legal h5,
.help_link h5 {
    padding-bottom: 4%;
}

.legal h5 a,
.help_link h5 a {
    text-decoration: none;
    color: inherit;
}

/* ============ footer section ends ================= */



/*Start media queries*/

/* =================== tablets ================== */
@media screen and (max-width: 768px) {
    .intro {
        background-position: 10% 50%;
    }
    .box2 {
        display: none;
    }
    .cardContainer {
        margin-top: -6rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .performanceSection {
        height: auto;
        padding: 10%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .pol-heading {
        padding-top: 5%;
    }

    .performRight h3 {
        font-size: 1.5rem;
    }

    .donation__container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: .5rem;
        flex-wrap: wrap;
        position: relative;
    }

    .donation__container h3 {
        font-size: 1rem;
    }

    .donation__container button {
        font-size: 0.8rem;
        padding: .5rem 1.8rem;
    }

    .donation__container button.quick_donate_btn {
        margin-left: 0;
        position: absolute;
        right: 40%;
        bottom: 10%;
    }

    .articles {
        height: auto;
        padding-bottom: 10%;
    }

    .article_container {
        grid-template-columns: 1fr;
    }

    .message {
        height: 20rem;
        flex-direction: column;
    }

    .empty {
        height: 20rem;
    }

    footer {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}


/* =================== phones ================ */
@media screen and (max-width: 600px) {
    .intro {
        background-position: 100% 0%;
    }
    .box1 h1 {
        font-size: 1.8rem;
    }
    .dBlock {
        display: inline;
    }
    
    .box1 p {
        width: 100%;
        font-size: 1rem;
    }
    .box2 {
        display: none;
    }
    .cardContainer {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .videoSection {
        margin: 8% auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .content h1 {
        font-size: 1.8rem;
    }
    .contentSecond {
        margin-top: 6%;
    }
    .be-vol {
        padding-top: 5%;
        font-size: 1.7rem;
    }
    .vol-input {
        width: 90%;
        margin: 0 auto;
        padding: 5px;
    }
    .btn {
        padding: .8rem 3rem;
    }
    .donation__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        /* flex-direction: column; */
        height: 100%;
        gap: 1rem;
        padding: 10%;
    }
    .donation__container button.quick_donate_btn {
        margin-left: 0;
        position: static;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .footer_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    .help_link,
    .legal {
        text-align: center;
    }

    .address {
        text-align: center;
        margin-bottom: 0;
    }

    .footer_headings {
        padding-bottom: 2%;
    }
}